In [1]:
import yfinance as yf
import pandas as pd

In [2]:
ticker = "MSFT"
period = "1d"
stock = yf.Ticker(ticker)
candle_dataframe = stock.history(period=f'{period}')
candle_dataframe

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-05-22 00:00:00-04:00,454.950012,460.25,453.899994,454.859985,17995400,0.0,0.0

In [10]:
t = yf.Ticker(ticker)
df = t.income_stmt.T

df.index = df.index.strftime('%Y-%m-%d')
list(df.index)

['2024-06-30', '2023-06-30', '2022-06-30', '2021-06-30']

In [11]:
ticker = "MMM"
period = "6mo"
df = yf.download(ticker, period=period)
df

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open   Volume
Ticker             MMM         MMM         MMM         MMM      MMM
Date
2024-11-25  129.680328  129.958953  126.923921  128.575776  5074700
2024-11-26  132.297409  132.576033  129.013604  129.351947  3080300
2024-11-27  131.829712  134.884650  131.710306  133.252701  2579600
2024-11-29  132.874557  133.083533  131.391866  132.207848  1618300
2024-12-02  132.237701  133.113387  131.730210  132.874559  3001900
...                ...         ...         ...         ...      ...
2025-05-16  153.110001  153.279999  148.949997  149.429993  4204500
2025-05-19  154.139999  154.259995  151.110001  151.949997  2613600
2025-05-20  154.149994  154.729996  153.250000  153.259995  2529700
2025-05-21  149.399994  153.169998  149.330002  152.320007  2661800
2025-05-22  149.779999  150.570007  147.679993  149.720001  2862800

[122 rows x 5 columns]